<footer class="LogoDosApoiadoresRodape">
    <div class="LinhaEsquerdaRodape"></div>
    <div class="containerLogos">
        <img src="/public/imagens/LogoDaUfal.png" alt="Logo da UFAL">
        <img src="/public/imagens/LogoOds.png" alt="Logo ODS">
        <img src="/public/imagens/Logo FDA.png" alt="Logo da FDA">
        <img src="/public/imagens/CidadaniaDigital.png" alt="Cidadania digital">
        <img src="/public/imagens/BandeiraAlagoas.png" alt="Bandeira de Alagoas">
    </div>
    <div class="LinhaDireitaRodape"></div>
</footer>