<footer class="LogoDosApoiadoresRodape">
    <div class="LinhaEsquerdaRodape"></div>
    <div class="containerLogos">
        <img src="Imagens/LogoDaUfal.png" alt="Logo da UFAL">
        <img src="Imagens/LogoOds.png" alt="Logo ODS">
        <img src="Imagens/Logo FDA.png" alt="Logo da FDA">
        <img src="Imagens/CidadaniaDigital.png" alt="Cidadania digital">
        <img src="Imagens/BandeiraAlagoas.png" alt="Bandeira de Alagoas">
    </div>
    <div class="LinhaDireitaRodape"></div>
</footer>